{
  "presets": ["./build/envPreset.js", "stage-0"],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false
    }],
    "add-module-exports"
  ],
  "sourceMaps": true,
  "retainLines": true
}
